  <main class="home">
    <%= link_to 'Create a New Contact', new_contact_path %>
    <h2>My Contacts</h2>
    <article>
      <% @contacts.each do |contact| %>
        <p><%= contact.full_name %></p>
        <p>phone: <%= contact.phone_number %> | email: <%= contact.email %></p>
      <% end %>
    </article>
  </main>
